<?xml version="1.0" encoding="UTF-8"?>
<suite name="Default suite">
	<test verbose="2" name="Default test">
		<classes>
			<class name="org.myapp.tests.TestDemo"/>
			<class name="org.myapp.tests.TestSomething1"/>
			<class name="org.myapp.tests.TestSomething2"/>
		</classes>
	</test>
	<!-- Default test -->
</suite>
<!-- Default suite -->